$black-chess_color: rgb(19, 19, 19);
$black-chess_shadow: rgba(255, 255, 255, 0.7);

$white-chess_color: rgb(231, 231, 231);
$white-chess_shadow: rgba(0, 0, 0, 0.7);


@mixin pieces-template($color, $type) {
    content: $type;
    color: $color;

    @if $color == $black-chess_color {
        text-shadow: 0px 0px 3px $black-chess_shadow;
        -webkit-text-stroke: 0.5px rgb(255, 255, 255);
    } @else {
        text-shadow: 0px 0px 3px $white-chess_shadow;
        -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    }
}

.black {
    &_pawn::after {
        @include pieces-template($black-chess_color, "\265F")
    }
    &_rook::after {
        @include pieces-template($black-chess_color, "\265C")
    }
    &_knight::after {
        @include pieces-template($black-chess_color, "\265E")
    }
    &_bishop::after {
        @include pieces-template($black-chess_color, "\265D")
    }
    &_queen::after {
        @include pieces-template($black-chess_color, "\265B")
    }
    &_king::after {
        @include pieces-template($black-chess_color, "\265A")
    }
}

.white {
    &_pawn::after {
        @include pieces-template($white-chess_color, "\265F")
    }
    &_rook::after {
        @include pieces-template($white-chess_color, "\265C")
    }
    &_knight::after {
        @include pieces-template($white-chess_color, "\265E")
    }
    &_bishop::after {
        @include pieces-template($white-chess_color, "\265D")
    }
    &_queen::after {
        @include pieces-template($white-chess_color, "\265B")
    }
    &_king::after {
        @include pieces-template($white-chess_color, "\265A")
    }
}


@media (max-width: 991px) {

}

@media (max-width: 767px) {
    
}